# Core Django
Django==5.0.6
gunicorn==21.2.0
whitenoise==6.9.0

# Banco de Dados
psycopg2==2.9.10

# Manipulação de Imagens
Pillow==11.0.0
django-stdimage==6.0.2

# Bootstrap
django-bootstrap4==24.1
bootstrap4==0.1.0

# REST Framework
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
PyJWT==2.10.1

# Utilitários
python-dotenv==1.0.1
dj-database-url==2.1.0