{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doações</title>
    {% bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark position-relative">
        <a class="navbar-brand" href="{% url 'doacoes' %}">
            <img src="{% static 'images/logo.png' %}" height="30" class="d-inline-block align-top" alt="">
            Campus Dog
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'doguinhos' %}">Doguinhos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Doações  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'saiba_mais' %}">Saiba Mais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contato' %}">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <div class = "tit"><h1>Faça a Diferença na Vida de um Cãozinho!</h1> </div>
            <div class="donation-info">
                <p>No Campus Dog, acreditamos que todo cão merece amor, cuidado e um lar aconchegante. Com a sua ajuda, podemos transformar a vida de muitos peludos que precisam de nós. Aceitamos doações de ração, dinheiro, produtos de higiene, roupinhas, cobertores e casinhas. Cada contribuição é fundamental para garantir que nossos amigos de quatro patas tenham uma vida mais digna e feliz.</p>
                <p>Ao doar, você não está apenas ajudando um cãozinho a ter suas necessidades básicas atendidas, mas também está proporcionando a ele a chance de encontrar um novo lar e uma família amorosa. Seu gesto de carinho pode ser a diferença entre um dia frio e solitário e uma vida cheia de calor e cuidado.</p>
                <p>Doe e faça parte dessa corrente de amor. Juntos, podemos transformar o futuro de muitos cães!</p>
                <p class="address">Doação de itens: Estrada de Muzambinho, Bairro - Morro Preto, Muzambinho - MG, 37890-000 - Setor: Hospital Veterinário.</p>
                <p>Doação de dinheiro: https://forms.gle/ynpktmNTkasomiMEA
                </p>
            </div>
            <div class="panfleto">
                <img src="{% static 'app/images/panfleto.png' %}" alt="panfleto">
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery='full'%}  
</body>
</html>
