{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    
    {% include 'nav_bar.html' %}

    <div class="container cards">
        {% for animal in animais %}
            <div class="card wow" style="width: 18rem;" data-toggle="modal" data-target="#animalModal"
                data-id="{{ animal.id }}" 
                data-nome="{{ animal.nome }}"
                data-raca="{{ animal.raca }}"
                data-idade="{{ animal.idade }}"
                data-vacinado="{{ animal.vacinado|yesno:'Sim,Não' }}"
                data-descricao="{{ animal.descricao_completa }}"
                data-foto="{{ animal.foto.thumb.url }}">
                {% if animal.foto %}
                    <img src="{{ animal.foto.thumb.url }}" class="card-img-top" alt="Foto de {{ animal.nome }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ animal.nome }}</h5>
                    <p class="card-text">{{ animal.descricao }}</p>
                </div>
            </div>
        {% endfor %}


        <!-- Card de adicionar animal -->
        {% if request.user.is_authenticated %}
            <div class="card wow add-card" style="width: 18rem;" data-toggle="modal" data-target="#addAnimalModal">
                <div class="card-body text-center d-flex align-items-center justify-content-center" style="height: 200px;">
                    <h5 class="card-title">
                        <i class="fas fa-plus-circle" style="font-size: 40px;"></i><br>
                        Adicionar Animal
                    </h5>
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'footer.html' %}
    {% include 'modal_dog.html' %}
    {% include 'modal_adicionar_dog.html' %}

{% endblock %}