{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    
    {% include 'nav_bar.html' %}

    <div class="container cards">
        {% for animal in animais %}
            <div class="card wow" style="width: 18rem;" data-toggle="modal" data-target="#animalModal"
                data-id="{{ animal.id }}" 
                data-nome="{{ animal.nome }}"
                data-raca="{{ animal.raca }}"
                data-idade="{{ animal.idade }}"
                data-vacinado="{{ animal.vacinado|yesno:'Sim,Não' }}"
                data-descricao="{{ animal.descricao_completa }}"
                data-foto="{{ animal.foto.thumb.url }}">
                {% if animal.foto %}
                    <img src="{{ animal.foto.thumb.url }}" class="card-img-top" alt="Foto de {{ animal.nome }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ animal.nome }}</h5>
                    <p class="card-text">{{ animal.descricao }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'footer.html' %}
    {% include 'modal_dog.html' %}
    
{% endblock %}