{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Animais</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'app/images/logo.png' %}" alt="Logo">
        </div>
        <div class="menu">
            <a href="pagina_inicial">Página inicial</a>
            <a href="{% url 'lista_animais' %}">Lista de Animais</a>
            <a href="{% url 'doacoes' %}">Doações</a>
            <a href="{% url 'saiba_mais' %}">Saiba Mais</a>
            <a href="{% url 'contato' %}">Contato</a>
        </div>
    </div>
    <div class="container">
        <div class="cards">
            {% for animal in animais %}
            <div class="card" style="width: 18rem;">
                <img src="{{ animal.foto.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
    {% bootstrap_javascript jquery='full'%}   
</body>
</html>