{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doguinhos</title>
    {% bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark position-relative">
    <a class="navbar-brand" href="{% url 'doacoes' %}">
        <img src="{% static 'images/logo.png' %}" height="30" class="d-inline-block align-top" alt="">
        Campus Dog
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Div para centralizar os links no centro da tela -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 1.2rem;">Doguinhos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'doacoes' %}">Doações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'saiba_mais' %}">Saiba Mais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contato' %}">Contato</a>
            </li>
        </ul>
    </div>
</nav>



    <div class="container mt-5">
        <div class="cards">
            {% for animal in animais %}
            <div class="card" style="width: 18rem;">
                <img src="{{ animal.foto.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
    {% bootstrap_javascript jquery='full'%}   
</body>
</html>